
*.xcuserstate

NavigationBarDemo.xcodeproj/project.xcworkspace/xcuserdata/subo.xcuserdatad/UserInterfaceState.xcuserstate

*.xcworkspacedata

*.xcscheme

NavigationBarDemo.xcodeproj/xcuserdata/Subo.xcuserdatad/xcschemes/xcschememanagement.plist
